<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Empleado</title>

    <link rel="stylesheet" href="/css/empleado.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</head>

<body>
<%- include("header") %>

<div class="cuerpo-principal" style="width: 50%; margin: 10vh auto;">
    <a href="/empleados/registrarEmpleados"><button class="btn mt-50">Nuevo Empleado</button></a>
</div>

</body>
</html>